<div class="container">
<p id="notice"><%= notice %></p>

<%= nav_bar brand: "Frases hilárias ditas na Novatics", brand_link: "/" %>

<table class="table table-bordered table-hover table-responsive">
  <tbody>
    <div class="card-columns">
      <% @quotes.each do |quote| %>
        <div class="card card-inverse text-xs-center">
          <div class="card-block">
            <%= image_tag(quote.image, size: "32x32", class: "img-circle", style: "float: left") %>
            <blockquote class="card-blockquote">
              <p><%= quote.message %></p>
              <footer><cite title="Source Title"><%= quote.author %></cite></footer>
            </blockquote>
          </div>
        </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'Nova frase', new_quote_path %>
</div>

<script>
  var cards = document.getElementsByClassName('card');
  for (i = 0; i < cards.length; i++) {
      var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
      cards[i].style.backgroundColor = randomColor;
      cards[i].style.borderColor = randomColor;
  }
</script>
