<div class="container">
<p id="notice"><%= notice %></p>

<%= nav_bar brand: "Frases hilárias ditas na Novatics", brand_link: "/" %>

<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th class="text-center">Frase</th>
      <th class="text-center">Autor</th>
      <th class="text-center" colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td class="text-center">"<%= quote.message %>"</td>
        <td class="text-center"><%= quote.author %></td>
        <td class="text-center">
          <!-- <%= link_to image_tag("https://cdn1.iconfinder.com/data/icons/web-ui-2/16/UI_Icons_Outline-24-128.png", size: "32x32"), quote %> -->
          <%= link_to image_tag("https://cdn1.iconfinder.com/data/icons/turbo-outline/50/Edit-128.png", size: "32x32"), edit_quote_path(quote) %>
          <%= link_to image_tag("https://cdn0.iconfinder.com/data/icons/round-ui-icons/128/close_red.png", size: "32x32"), quote, method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova frase', new_quote_path %>
</div>
