<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @quote.message %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote.author %>
</p>

<%= link_to 'Editar', edit_quote_path(@quote) %> |
<%= link_to 'Voltar', quotes_path %>
